# Copy this file to .env and fill values. Do NOT commit secrets.

# Perspective API
PERSPECTIVE_API_KEY=AIzaSyCVYDqC2RmIj9ouaBfUlL46TpN1QHtTNws



ADVICE_AGENT_URL=https://my-hosted-advice.example.com

# Admin / Email Settings
ADMIN_EMAIL=jayanisandeepani2001@gmail.com

# SMTP (fallback) - for Gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=rashmijayawardena19@gmail.com
SMTP_PASS=ifsmsshkpipvbxpu
FROM_EMAIL=rashmijayawardena19@gmail.com

# MailerSend API Key
MAILERSEND_API_KEY=mlsn.d1bd595844ec914506e69884ae5dd5ee9bf5a670c1d2fb4d566ceb34359bc73c

SAFE_BROWSING_API_KEY=0199fd97-b30f-725a-98fd-3f2998bff465